/*@font-face {
    font-family: 'lemonmilkregular';
    src: url('lemonmilk-webfont.woff2') format('woff2'),
         url('lemonmilk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'UrbanRetro';
    src: url('../templates/musicapp/UrbanRetro.woff') format('woff');
}

#loginbg {
    position: fixed;
    opacity: 70%;
    max-width: 100%;
    height: auto;
    z-index: -5;
}

/* #welcomebg {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 100%;
    height: auto;
} */

/* #aboutbg {
    position: fixed;
    max-width: 100%;
    height: auto;
    top: 50%;
    right: 0;
} */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'UrbanRetro';
    /* height: 100%; */
    /* position: relative; */
    /* z-index: -5; */
    margin: 0;
    padding: 0;     
}

.container{
    position: fixed;
    left: 80px;
    top: 100px;
    width: 1000px;
    height: 200px;
    background-color: none;
    padding: 0px;
    /* z-index: 4; */
}

.btn {
    font-size: 20px;
    text-align: center;
    position: absolute;
    left: 40%;
    bottom: 25%;
    width: 250px;
    height: 55px;
    border: none;
    background: rgb(255,63,25);
    background: linear-gradient(0deg, rgba(255,63,25,1) 0%, rgba(253,45,210,1) 100%);
} 

#welcome {
    position: absolute;
    left: 20%;
    top: 15%;
    width: 1000px;
    height: 200px;
}

#discover {
    color: black;
    margin-top: 25px;
    padding: 0px;
    font-size: 60px;
}

/* .container1 {
    font-family: ProximaNovea;
    position: absolute;
    left: 150px;
    top: 200px;
    width: 1000px;
    height: 200px;
    background-color: none;
    padding: 0px;
}  */

h1 {
    font-size: 140px;
    margin: 0px;
    font-weight: 300;
    color: black;
}

#big_name {
    position: fixed;
    text-align: right;
    right: 20%;
    top: 40%;
    width: 1000px;
    height: 200px;
    background-color: none;
    padding: 0px;
    color: black;
}

a {
    text-decoration: none;
    text-align: right;
}  
 
#tagline {
    display: flex;
    position: fixed;
    font-size: 50px;
    top: 75%;
    left: 20%;
    background-color: none;
    padding: 0px;   
    color: black;   
}

.navbar {
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
    z-index: 5;
    text-align: right;
}
  
.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
} 
  
.navbar ul li {
    padding: 1rem;
    float: left;
} 
  
.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
    font-family: ProximaNovea;
    font-size: 28px;
    text-align: center;
}
  
.navbar ul li a:hover {
    color: purple;
}

.container4{
    font-family: ProximaNovea;
    position: absolute;
    left: 150px;
    top: 825px;
    /* width: 1000px;
    height: 200px; */
    color: white;
    background-color: none;
    padding: 0px;
}

.container5{
    font-family: ProximaNovaBold;
    position: absolute;
    left: 150px;
    top: 960px;
    width: 1100px;
    /* height: 200px;  */
    /* background-color: none; */
    padding: 0px;
}

#blurb {
    font-size: 35px;
    font-weight: 800;
    color: white;
    text-align: left;
}

#home {
    width: 100%;
    height: 600px;
    background: url("../templates/musicapp/aboutfinal.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
}

#about {
    width: 100%;
    height: 600px;
    background: url("../templates/musicapp/opacblack.png");
    display: inline-block;
}

#connect {
    width: 100%;
    height: 600px;
    background: url("../templates/musicapp/tokyobg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}


/* section#home {
    height: 500px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../templates/musicapp/aboutfinal.png') no-repeat center center/cover;;
} 

section#about {
    position: fixed;
    left: 0;
    right: 0;
    top: 500px;
    height: 500px;
    background: url('../templates/musicapp/opacblack.png') no-repeat center center/cover;;
}

section#connect{   
    background: url('./opactokyo.png') no-repeat center center/cover;;
} */

/* #big_name {
    text-align: right;
    color: white;
    margin-top: -40px;      
} */
    
/* h1 {
    margin: 0;
    margin-right: 20px;
    margin-top: 50px;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 40px;     
} */
    
/* #tagline {
    text-align: center;
    margin-top: 60px;
    font-weight: bold;     
} */
    
/* body {
    background-color: rgb(168, 218, 203);
    font-family: 'lemonmilkregular';     
} */
    
/* a {
    color: #FFFFFF;
    text-decoration: none;      
}  */
   



