/*@font-face {
    font-family: 'lemonmilkregular';
    src: url('lemonmilk-webfont.woff2') format('woff2'),
         url('lemonmilk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'UrbanRetro';
    src: url('../templates/musicapp/UrbanRetro.woff') format('woff');
}

#loginbg {
    position: fixed;
    opacity: 70%;
    max-width: 100%;
    height: auto;
}

#welcomebg {
    position: fixed;
    opacity: 70%;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'UrbanRetro';
    height: 100%;
    position: relative;
    z-index: -5;
    margin: 0;
    padding: 0;     
}

.container{
    position: fixed;
    left: 80px;
    top: 100px;
    width: 1000px;
    height: 200px;
    background-color: none;
    padding: 0px;
    /* z-index: 4; */
}

.btn {
    font-size: 23px;
    position: fixed;
    left: 40%;
    bottom: 150px;
    width: 250px;
    height: 55px;
    border: none;
    background: rgb(255,63,25);
    background: linear-gradient(0deg, rgba(255,63,25,1) 0%, rgba(253,45,210,1) 100%);
} 

#welcome {
    position: fixed;
    left: 20%;
    top: 100px;
    width: 1000px;
    height: 200px;
    background-color: none;
    padding: 0px;
}

#discover {
    color: black;
    margin-top: 30px;
    padding: 0px;
    font-size: 70px;
}

h1 {
    font-size: 140px;
    margin: 0px;
    font-weight: 300;
    color: black;
}

#big_name {
    position: fixed;
    text-align: right;
    right: 20%;
    top: 250px;
    width: 1000px;
    height: 200px;
    background-color: none;
    padding: 0px;
    color: black;
}

a {
    text-decoration: none;
    text-align: right;
}  
 
#tagline {
    position: fixed;
    text-align: center;
    left: 25%;
    font-size: 50px;
    top: 75%;
    background-color: none;
    padding: 0px;   
    color: black;   
}

#logout {
    color: black;
    margin-top: 20px; 
}

/* #big_name {
    text-align: right;
    color: white;
    margin-top: -40px;      
} */
    
/* h1 {
    margin: 0;
    margin-right: 20px;
    margin-top: 50px;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 40px;     
} */
    
/* #tagline {
    text-align: center;
    margin-top: 60px;
    font-weight: bold;     
} */
    
/* body {
    background-color: rgb(168, 218, 203);
    font-family: 'lemonmilkregular';     
} */
    
/* a {
    color: #FFFFFF;
    text-decoration: none;      
}  */
   



