@font-face {
  font-family: UrbanRetro;
  src: url('UrbanRetro.woff');
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg-image {
  background-image: url("./homebg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.73;
}

.container{
  font-family: UrbanRetro;
  position: fixed;
  left: 80px;
  top: 100px;
  width: 1000px;
  height: 200px;
  background-color: none;
  padding: 0px;
}

h1{
  font-size: 140px;
  margin: 0px;
}

p{
  margin-top: 55px;
  font-size: 70px;
}