<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="homepage.css">
</head>

<body>

<!--Homepage Title-->
<div class="bg-image">
</div>
<div class="container">
    <h1>HOMIEFY</h1>
    <p>DISCOVER YOUR MUSIC MUTUALS</p>
</div>

<!--Button-->
<button class="button button5">SIGN INTO SPOTIFY</button>


</body>
</html>
