
    #⇝ {
    font-family: Helvetica Neue;
    color: rgb(0,0,0);
    font-weight: Regular;
    font-size: 200px;
    text-align: left;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    display: inline-block;
    }
    