<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="tester.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="content">
    <section id="home" class="section">
        <nav class="navbar">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#playlist">Playlist</a></li>
            </ul>
        </nav>
        <!-- <div class="bg-image"></div> -->        
        <div class="container">
            <h1>Welcome,</h1>  
        </div>
          
        <div class="container2">
            <h2>User</h2>
        </div>
          
        <div class="container3">
            <h3>Meet your musical match below</h3>
        </div>

    </section>
    <section id="about"  class="section">
        <div class="container4">
            <h1>About us</h1> 
        </div>
        <div class="container5">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>  
        </div>
        <div class="container6">
            <!-- <img src="musicwave.png" alt="music wave"> -->
        </div>
    </section>
    <section id="playlist"  class="section"></section>
</div>
<!-- <img src="squigarrow.png" alt="arrow"> -->
</body>
</html>