<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="tester.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="content">
    <section id="home" class="section">
        <nav class="navbar">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#connect">Connet A Friend</a></li>
                <li><a href="#playlist">Playlist</a></li>
            </ul>
        </nav>
        <!-- <div class="bg-image"></div> -->        
        <div class="container">
            <h1>WELCOME,</h1>  
        </div>
          
        <div class="container2">
            <h2>USER</h2>
        </div>
          
        <div class="container3">
            <h3>MEET YOUR MUSICAL MATCH BELOW</h3>
        </div>

    </section>
    <section id="about"  class="section">
        <div class="container4">
            <h4>ABOUT US</h4> 
        </div>
        <div class="container5">
        <p>LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT. ITA RELINQUET DUAS, DE QUIBUS ETIAM ATQUE ETIAM CONSIDERET. NOS QUIDEM VIRTUTES SIC NATAE SUMUS, UT TIBI SERVIREMUS, ALIUD NEGOTII NIHIL HABEMUS. QUA EX COGNITIONE FACILIOR FACTA EST INVESTIGATIO RERUM OCCULTISSIMARUM. EQUIDEM SOLEO ETIAM QUOD UNO GRAECI, SI ALITER NON POSSUM, IDEM PLURIBUS VERBIS EXPONERE. NIHIL ENIM HOC DIFFERT. NON ENIM QUAERO QUID VERUM, SED QUID CUIQUE DICENDUM SIT.</p>  
        </div>
        <div class="container6">
            <!-- <img src="musicwave.png" alt="music wave"> -->
        </div>
    </section>
    <section id="connect" class="section">
        <div class="container7">
            <h5>CONNECT YOUR</h5>
            <h6>HOMIE</h6>
        </div>
        <button class="button button5">SHARE THIS LINK</button>
    </section>
    <section id="playlist"  class="section">
        <div class="container8">
            <h7>PLAYLIST</h7>
        </div>
    </section>
</div>
<!-- <img src="squigarrow.png" alt="arrow"> -->
</body>
</html>