@font-face {
    font-family: UrbanRetro;
    src: url('UrbanRetro.woff');
  }

@font-face {
    font-family: ProximaNovea;
    src: url('ProximaNovea.woff');
}

@font-face {
  font-family: ProximaNovaBold;
  src: url('ProximaNovaBold.woff');
}
  
  body, html {
    /* height: 100%; */
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }
  
  .bg-image {
    /* background-image: url("./tokyobg.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.73;
    z-index: -5; */
    
  }

  .bg-image-about{
    background-image: url("./aboutpg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.73;
    z-index: -5;
  }
  
  .container{
    font-family: UrbanRetro;
    position: absolute;
    left: 150px;
    top: 200px;
    /* width: 1000px;
    height: 200px; */
    background-color: none;
    padding: 0px;
  } 
  
  h1{
    font-size: 140px;
    margin: 0px;
    font-weight: 300;
  }

  .container2{
    font-family: UrbanRetro;
    position: absolute;
    left: 160px;
    top: 320px;
    /* width: 1000px;
    height: 200px; */
    background-color: none;
    padding: 0px;
  }

  h2{
    font-size: 140px;
    margin: 0px;
    font-weight: 300;
  }

  .container3{
    font-family: UrbanRetro;
    font-weight: 600;
    position: absolute;
    left: 165px;
    top: 450px;
    /* width: 1500px;
    height: 200px; */
    /* background-color: none; */
    padding: 0px;
  }

  h3{
    margin-top: 55px;
    font-size: 80px;
    font-weight: 300;
  }
  .container7{
    font-family: UrbanRetro;
    position: absolute;
    left: 80px;
    top: 1500px;
    /*width: 1000px;
    height: 200px;*/
    background-color: none;
    padding: 0px;
  }
  
  h5{
    font-size: 140px;
    margin: 0px;
    font-weight: 300;
  }
  
  h6{
    margin-top: 55px;
    font-size: 140px;
    font-weight: 300;
    left: 0px;
  }

  button{
    font-family: UrbanRetro;
    font-size: 23px;
    position: absolute;
    left: 640px;
    top: 1900px;
    width: 250px;
    height: 55px;
    border: none;
    background: url('./pink\ red.jpg') no-repeat;
  }
  
  .button5{
    border-radius: 35px;;
  }

  .container4{
    font-family: UrbanRetro;
    position: absolute;
    left: 150px;
    top: 825px;
    /* width: 1000px;
    height: 200px; */
    color: white;
    background-color: none;
    padding: 0px;
  }

  h4{
    font-size: 140px;
    margin: 0px;
    font-weight: 300;
  }

  .container5{
    font-family: UrbanRetro;
    font-size: 35px;
    font-weight: 800;
    color: white;
    position: absolute;
    text-align: left;
    left: 150px;
    top: 1000px;
    width: 1100px;
    /* height: 200px;  */
    /* background-color: none; */
    padding: 0px;
  }

  .arrow {
    position: fixed;
    left: 640px;
    bottom: 150px;
    height: 500px;
    width: 500px;
    transform: rotate(90deg);
  }

 
  .navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0.7);
    justify-content: space-around;
    align-items: center;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
  } 
  
  .navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
  } 
  
  .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
    font-family: UrbanRetro;
    font-size: 29px;
    position: absolute;
    top: 10px;
  }

  
  .navbar ul li a:hover {
    color: purple;
  }
  
  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
   
    /* Scroll Snap */
    scroll-snap-align: center;
  }
  
  /* Section Images */
  section#home {
    background: url('./aboutfinal.png') no-repeat center center/cover;;
  }

  section#about {
    background: url('./opacblack.png') no-repeat center center/cover;;
  }

  section#connect {
    background: url('./opacfriend.png') no-repeat center center/cover;;
  }
  
  section#playlist{   
    background: url('./opacblack.png') no-repeat center center/cover;;
  }


  /* section h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 15em;
  } */