<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="tester.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="content">
    <section id="home" class="section">
        <nav class="navbar">
            <ul>
                <li><a href="#home">HOME</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#connect">CONNECT</a></li>
            </ul>
        </nav>
        <!-- <div class="bg-image"></div> -->        
        <div class="container">
            <h1>WELCOME,</h1>  
        </div>
          
        <div class="container2">
            <h2>USER</h2>
        </div>
          
        <div class="container3">
            <h3>MEET YOUR MUSICAL MATCH BELOW</h3>
        </div>

    </section>
    <section id="about"  class="section">
        <div class="container4">
            <h1>ABOUT US</h1> 
        </div>
        <div class="container5">
        <p> LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT. QUOD IAM A ME EXPECTARE NOLI. QUID, CUM FICTAS FABULAS, E QUIBUS UTILITAS NULLA ELICI POTEST, CUM VOLUPTATE LEGIMUS? SIC CONSEQUENTIBUS VESTRIS SUBLATIS PRIMA TOLLUNTUR. DUO REGES: CONSTRUCTIO INTERRETE. UT ALIOS OMITTAM, HUNC APPELLO, QUEM ILLE UNUM SECUTUS EST. ERGO ID EST CONVENIENTER NATURAE VIVERE, A NATURA DISCEDERE. UNIVERSA ENIM ILLORUM RATIONE CUM TOTA VESTRA CONFLIGENDUM PUTO.</p>
        </div>         
        <div class="container6">
            <!-- <img src="musicwave.png" alt="music wave"> -->
        </div>
    </section>
    <section id="connect"  class="section">
        <div class="container7">
            <h1>CONNECT YOUR</h1>
            <p-1>HOMIE</p-1>
        </div>
        <button class="button button5">SHARE THIS LINK</button>
    </section>
</div>
<!-- <img src="squigarrow.png" alt="arrow"> -->
</body>
</html>