<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="welcomepage.css">
</head>

<body>
<div class="bg-image"></div>

<div class="container">
  <!-- <div class="bg-image"></div> -->
    <h1>WELCOME </h1>  
</div>

<div class="container2">
  <h2>USER</h2>
</div>

<div class="container3">
  <p>MEET YOUR MUSICAL MATCH BELOW</p>
</div>

<img src="squigarrow.png" alt="arrow">

</body>
</html>